Morning Briefing -  Weather, Quote, Calendar/Morning_Briefing___Weather__Quote__Calendar.json
{
  "name": "Morning Briefing : Weather, Quote, Calendar",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        -60
      ],
      "id": "7bfb9952-768c-4994-bc4e-4d54288af36b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-6.6931032&lon=106.8261961&appid=xxxxxx",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        60
      ],
      "id": "43f350af-1ea4-4596-8b0e-acef6aad32fb",
      "name": "Get Weather"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mrandiiw@gmail.com",
          "mode": "list",
          "cachedResultName": "mrandiiw@gmail.com"
        },
        "timeMax": "={{ $now.plus({ day: 1 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        80,
        240
      ],
      "id": "c6937985-16c1-47ba-9ec5-a57157100a7a",
      "name": "Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "qnbkLF8Sguw5nktw",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.satuconnect.my.id/agent/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "xxxx"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deviceID\": \"6289605xxxx\",\n  \"phoneNumbers\": \"62851xxxx\",\n  \"message\": \"🌤 Cuaca Terkini di Lokasimu\\n\\n📍 {{ $json.name }}\\n☁️ Kondisi: {{ $json.weather[0].main }} ({{ $json.weather[0].description }})\\n🌡 Suhu: {{ $json.main.temp }}°C (Terasa seperti {{ $json.main.feels_like }}°C)\\n💧 Kelembapan: {{ $json.main.humidity }}%\\n💨 Angin: {{ $json.wind.speed }} m/s dari arah {{ $json.wind.deg }}°\\n☁️ Tingkat Awan: {{ $json.clouds.all }}%\\n\\n*Quote of the day* : \\n{{ $('Code').item.json.quote }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        60
      ],
      "id": "ecf99bb4-e07f-4ff9-ad41-56b8d24ced83",
      "name": "Send Whatsapp Weather"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.satuconnect.my.id/agent/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "xxxxxx"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"deviceID\": \"628960xxxx\",\n  \"phoneNumbers\": \"62851xxxxx\",\n  \"message\": \"📅 *Agenda Hari Ini*\\n📝 *Judul:* {{$json.summary}}\\n🗓 *Tanggal:* {{$json.start.dateTime && new Date($json.start.dateTime).toLocaleDateString('id-ID')}}\\n🕕 *Jam:* {{$json.start.dateTime && new Date($json.start.dateTime).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit' })}} - {{$json.end.dateTime && new Date($json.end.dateTime).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit' })}}\\n👤 *Diselenggarakan oleh:* {{$json.creator.email}}\\n🔗 *Link Acara:* {{$json.htmlLink}}\\n\\nJangan lupa ya! ⏰\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        240
      ],
      "id": "52b4cb6d-bfad-4ba8-8235-64d6ae177e62",
      "name": "Send Whatsapp Calendar"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create quote of the day based on today  {{ $json.timestamp }}",
        "options": {
          "systemMessage": "You are the world’s best motivator.\nHelp me generate a quote of the day—inspirational, concise, and no longer than one sentence.\nin JSON format : \n{quote : type string}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        60,
        -100
      ],
      "id": "55eb5216-e9d7-48fa-beb3-64db6e798e56",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        80
      ],
      "id": "8634335f-25f1-4f87-ae03-242d2d70197d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xxxxxxx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Step 1: Clean up and parse the string\n  const raw = $input.first().json.output || '';\n  const cleaned = raw.trim().replace(/^```json|```$/g, '').trim(); // Remove ```json and ```\n  let parsed = {};\n\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (err) {\n    parsed = { error: \"Invalid JSON format\", original: raw };\n  }\n\n  // Step 2: Modify the parsed object\n  parsed.myNewField = 1;\n\n  // Step 3: Replace or attach the result\n  item.json = parsed;\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        380,
        60
      ],
      "id": "821d2d8d-455d-429e-b5a4-cc13d0066bd5",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather": {
      "main": [
        [
          {
            "node": "Send Whatsapp Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Send Whatsapp Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Get Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64f6678a-b90d-4ee1-9a98-1719a672c8ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "878f429b2686367260a308dbafd51727b9c43f4831144617461b0c5acf76e09d"
  },
  "id": "FfmhCUaKzI7UIZX7",
  "tags": []
}